<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%- include("./partials/navbar.ejs") %>
    <h1><%= title %></h1>
    <div class="messages-div">
    <% locals.messages.filter(msg => (locals.user && locals.user.admin) || !msg.deleted).forEach((msg, index) => { %>
        <div class="msg">
            <h2><%= msg.title %></h2>
            <p><%= msg.content %></p>
            <% if (locals.user && locals.user.member) { %>
                <span class="date-span"><%= msg.timestamp %></span>
                <span class="author-span"><%= msg.authorUserName %></span>
            <% } %>
            <% if (locals.user && locals.user.admin && !msg.deleted) { %>
                <a href="/delete/<%= msg.id %>">Delete</a>
            <% } %>
        </div>
    <% }) %>
    </div>
</body>
</html>